span#stylefileinput-file
{
    position:relative;
}

span#stylefileinput-file span
{
    position:absolute;
    display:block;
    top:-2px;
    overflow:hidden;
    z-index:1;
    width:75px;
    height:24px;
    opacity:0;
    filter:alpha(opacity=0)
}

span#stylefileinput-file span input
{
    position:absolute;
    left:-140px;
    cursor:pointer
}

span#stylefileinput-file input.stylefileinput-button
{
    position:relative;
    z-index:0
}

span#stylefileinput-file strong
{
    margin:0 10px
}




body {
    padding-bottom: 20px;
    padding-top: 20px;
}
.header, .marketing, .footer {
    padding-left: 15px;
    padding-right: 15px;
}
.header {
    border-bottom: 1px solid #E5E5E5;
}
.header h3 {
    line-height: 40px;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 19px;
}
.footer {
    border-top: 1px solid #E5E5E5;
    color: #777777;
    padding-top: 19px;
}
.title {
    color: #999999;
    font-size: 20px;
    margin: 0 0 15px;
}
#messanger p {
    margin: 10px 0;
}

.add_new {
    float: right;
    line-height: 79px;
}
ul {
    list-style: none outside none;
}
ul li.inline-list{
    float:left;
}
.task_list {
    border-bottom: 1px solid #999999;
    margin-bottom: 20px;
    overflow: hidden;
    padding-bottom: 10px;
}

.row.marketing ul {
    margin-left: 0;
    padding-left: 0;
}
.row.marketing ul > li {
    width: 100%;
}
.books_list_data .books_list_genre, .books_list_data .books_list_authors {
    float: left;
    width: 50% !important;
}
.books_list_data .books_list_genre ul li, .books_list_data .books_list_authors ul li{
    text-indent: 30px;
}


.pagerfanta nav > span, .pagerfanta nav > a {
    display: block;
    float: left;
    height: 30px;
    line-height: 30px;
    min-width: 30px;
    overflow: hidden;
    padding: 0 2px;
    text-align: center;
    width: auto;
}
.pagerfanta nav span.current,  .pagerfanta nav a:hover{
    background-color: #428BCA;
    border-radius: 5px;
    color: #FFFFFF;
    overflow: hidden;
    min-width: 30px;
    text-align: center;
    display: block;
}
.pagerfanta nav a {
    display: block;
    min-width: 30px;
    text-align: center;
}


#name-element, #genres-element, #authors-element {
    margin-bottom: 15px;
    padding-bottom: 10px;
    width: 40%;
}
#authors-element select {
    width: 100%;
}
#name-element > input {
    width: 100%;
}
.errors {
    color: #FF0000;
}
.flash_messages {
    color: #008000;
}
.task_list.two-col .left-col {
    float: left;
    width: 80%;
}


@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}
.container-narrow > hr {
    margin: 30px 0;
}
.jumbotron {
    border-bottom: 1px solid #E5E5E5;
    text-align: center;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}
.marketing {
    margin: 40px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}
@media screen and (min-width: 768px) {
    .header, .marketing, .footer {
        padding-left: 0;
        padding-right: 0;
    }
    .header {
        margin-bottom: 30px;
    }
    .jumbotron {
        border-bottom: 0 none;
    }
}


ul {
    list-style: none outside none;
}
ul li.inline-list{
    float:left;
}


.task_list {
    position: relative;
    border-bottom: 1px solid #999999;
    margin-bottom: 20px;
    overflow: hidden;
    padding-bottom: 10px;
}
.options {
    background-color: #FF0000;
    height: 30px;
    position: absolute;
    right: 10px;
    text-indent: -9999px;
    top: 5px;
    width: 30px;
}
.options.active{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0 solid;
}
.options .options-list {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #D3D3D3;
    border-radius: 4px 0 4px 4px;
    display: block;
    padding: 3px 10px;
    position: absolute;
    right: -1px;
    text-indent: 0;
    top: 29px;
    display: none;
}
.options-list:after {
    border-top: 1px solid #EEEEEE;
    content: "";
    position: absolute;
    right: 0;
    top: -1px;
    width: 29px;
}
.options.active .options-list{
    display: block;
}
.options .options-list a{display:block}
.options .options-list a:hover{
    color: #999999;
}


/* Form */
form {
    width: 280px;
}
form .errors {
    font-size: 13px;
    font-style: oblique;
    margin: 0;
    padding: 5px 0 0;
}
.block_element {
    border-bottom: 1px solid #E5E5E5;
    display: block;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 0 5px 10px;
    width: 280px;
}
form .block_element > label {
     color: #666666;
}
.block_element.submit {
    border-bottom: 0 none;
}
.registr_description {
    margin: 15px 0;
    text-indent: 5px;
}